apiVersion: v1
kind: List
items:
  - apiVersion: v1
    kind: Pod
    metadata:
      name: p2p-server-0
      labels:
        app: p2p-server
        domain: blockchain
    spec:
      containers:
        - name: p2p-server
          image: lebaz20/blockchain-p2p-server:latest
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: 64Mi
              cpu: 100m
          env:
            - name: SECRET
              value: NODE0
            - name: IS_FAULTY
              value: 'false'
            - name: SHOULD_REDIRECT_FROM_FAULTY_NODES
              value: 'true'
            - name: P2P_PORT
              value: '5001'
            - name: HTTP_PORT
              value: '3001'
            - name: TRANSACTION_THRESHOLD
              value: '100'
            - name: NUMBER_OF_NODES_PER_SHARD
              value: '4'
            - name: NUMBER_OF_NODES
              value: '4'
            - name: NODES_SUBSET
              value: '[3,2,1,0]'
            - name: SUBSET_INDEX
              value: SUBSET1
            - name: CORE
              value: ws://core-server:4999
            - name: CPU_LIMIT
              value: '0.1'
            - name: DEFAULT_TTL
              value: NaN
          ports:
            - containerPort: 3001
            - containerPort: 5001
      restartPolicy: Never
  - apiVersion: v1
    kind: Service
    metadata:
      name: p2p-server-0
      labels:
        app: p2p-server
        domain: blockchain
    spec:
      clusterIP: None
      selector:
        app: p2p-server
      ports:
        - name: '5001'
          protocol: TCP
          port: 5001
          targetPort: 5001
        - name: '3001'
          protocol: TCP
          port: 3001
          targetPort: 3001
  - apiVersion: v1
    kind: Pod
    metadata:
      name: p2p-server-1
      labels:
        app: p2p-server
        domain: blockchain
    spec:
      containers:
        - name: p2p-server
          image: lebaz20/blockchain-p2p-server:latest
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: 64Mi
              cpu: 100m
          env:
            - name: SECRET
              value: NODE1
            - name: IS_FAULTY
              value: 'false'
            - name: SHOULD_REDIRECT_FROM_FAULTY_NODES
              value: 'true'
            - name: P2P_PORT
              value: '5002'
            - name: HTTP_PORT
              value: '3002'
            - name: TRANSACTION_THRESHOLD
              value: '100'
            - name: NUMBER_OF_NODES_PER_SHARD
              value: '4'
            - name: NUMBER_OF_NODES
              value: '4'
            - name: NODES_SUBSET
              value: '[3,2,1,0]'
            - name: SUBSET_INDEX
              value: SUBSET1
            - name: CORE
              value: ws://core-server:4999
            - name: CPU_LIMIT
              value: '0.1'
            - name: DEFAULT_TTL
              value: NaN
            - name: PEERS
              value: ws://p2p-server-0:5001
          ports:
            - containerPort: 3002
            - containerPort: 5002
      restartPolicy: Never
  - apiVersion: v1
    kind: Service
    metadata:
      name: p2p-server-1
      labels:
        app: p2p-server
        domain: blockchain
    spec:
      clusterIP: None
      selector:
        app: p2p-server
      ports:
        - name: '5002'
          protocol: TCP
          port: 5002
          targetPort: 5002
        - name: '3002'
          protocol: TCP
          port: 3002
          targetPort: 3002
  - apiVersion: v1
    kind: Pod
    metadata:
      name: p2p-server-2
      labels:
        app: p2p-server
        domain: blockchain
    spec:
      containers:
        - name: p2p-server
          image: lebaz20/blockchain-p2p-server:latest
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: 64Mi
              cpu: 100m
          env:
            - name: SECRET
              value: NODE2
            - name: IS_FAULTY
              value: 'false'
            - name: SHOULD_REDIRECT_FROM_FAULTY_NODES
              value: 'true'
            - name: P2P_PORT
              value: '5003'
            - name: HTTP_PORT
              value: '3003'
            - name: TRANSACTION_THRESHOLD
              value: '100'
            - name: NUMBER_OF_NODES_PER_SHARD
              value: '4'
            - name: NUMBER_OF_NODES
              value: '4'
            - name: NODES_SUBSET
              value: '[3,2,1,0]'
            - name: SUBSET_INDEX
              value: SUBSET1
            - name: CORE
              value: ws://core-server:4999
            - name: CPU_LIMIT
              value: '0.1'
            - name: DEFAULT_TTL
              value: NaN
            - name: PEERS
              value: ws://p2p-server-1:5002,ws://p2p-server-0:5001
          ports:
            - containerPort: 3003
            - containerPort: 5003
      restartPolicy: Never
  - apiVersion: v1
    kind: Service
    metadata:
      name: p2p-server-2
      labels:
        app: p2p-server
        domain: blockchain
    spec:
      clusterIP: None
      selector:
        app: p2p-server
      ports:
        - name: '5003'
          protocol: TCP
          port: 5003
          targetPort: 5003
        - name: '3003'
          protocol: TCP
          port: 3003
          targetPort: 3003
  - apiVersion: v1
    kind: Pod
    metadata:
      name: p2p-server-3
      labels:
        app: p2p-server
        domain: blockchain
    spec:
      containers:
        - name: p2p-server
          image: lebaz20/blockchain-p2p-server:latest
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: 64Mi
              cpu: 100m
          env:
            - name: SECRET
              value: NODE3
            - name: IS_FAULTY
              value: 'false'
            - name: SHOULD_REDIRECT_FROM_FAULTY_NODES
              value: 'true'
            - name: P2P_PORT
              value: '5004'
            - name: HTTP_PORT
              value: '3004'
            - name: TRANSACTION_THRESHOLD
              value: '100'
            - name: NUMBER_OF_NODES_PER_SHARD
              value: '4'
            - name: NUMBER_OF_NODES
              value: '4'
            - name: NODES_SUBSET
              value: '[3,2,1,0]'
            - name: SUBSET_INDEX
              value: SUBSET1
            - name: CORE
              value: ws://core-server:4999
            - name: CPU_LIMIT
              value: '0.1'
            - name: DEFAULT_TTL
              value: NaN
            - name: PEERS
              value: >-
                ws://p2p-server-2:5003,ws://p2p-server-1:5002,ws://p2p-server-0:5001
          ports:
            - containerPort: 3004
            - containerPort: 5004
      restartPolicy: Never
  - apiVersion: v1
    kind: Service
    metadata:
      name: p2p-server-3
      labels:
        app: p2p-server
        domain: blockchain
    spec:
      clusterIP: None
      selector:
        app: p2p-server
      ports:
        - name: '5004'
          protocol: TCP
          port: 5004
          targetPort: 5004
        - name: '3004'
          protocol: TCP
          port: 3004
          targetPort: 3004
  - apiVersion: v1
    kind: Pod
    metadata:
      name: core-server
      labels:
        app: core-server
        domain: blockchain
    spec:
      containers:
        - name: core-server
          image: lebaz20/blockchain-core-server:latest
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: 64Mi
              cpu: 100m
          env:
            - name: SHOULD_REDIRECT_FROM_FAULTY_NODES
              value: 'true'
          ports:
            - containerPort: 4999
      restartPolicy: Never
  - apiVersion: v1
    kind: Service
    metadata:
      name: core-server
      labels:
        app: core-server
        domain: blockchain
    spec:
      clusterIP: None
      selector:
        app: core-server
      ports:
        - name: '4999'
          protocol: TCP
          port: 4999
          targetPort: 4999
